<div class="navbar-separator"></div>

<div *ngIf="isAuth== 'yes'">
    <div class="container">
        <h1>Informacije o vozilima</h1>
        <div class="col-lg-12">
            <table class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th *ngIf="isAuth== 'yes'"></th>
                        <th>Proizvodjac: </th>
                        <th>Model: </th>
                        <th>Vrsta Modela: </th>
                        <th>Broj Šasije: </th>
                        <th>Registracija: </th>
                        <th>Kilometraža: </th>
                        <th>Kategorija: </th>
                        <th>Cena: </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of data">
                        <th *ngIf="isAuth== 'yes'">
                            <button class="btn btn-danger" title="remove" (click)="removeItem(item.vozilo_id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </th>
                        <th>{{item.proizvodjac_naziv}}</th>
                        <th>{{item.model_naziv}}</th>
                        <th>{{item.vrsta_modela}}</th>
                        <th>{{item.broj_sasije}}</th>
                        <th>{{item.registracija}}</th>
                        <th>{{item.kilometraza}}</th>
                        <th>{{item.kategorija}}</th>
                        <th>{{item.cena}}&euro;</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer class="navbar-fixed-bottom">
    <div class="container">
        <span>Rent a Car Agencija &copy; 2016. All rights reserved</span>
    </div>
</footer>